.btn-margin {
  margin: 7px 3px;
}
.not-home {
	background-color: #ffffff;
}

.home-page .large-text {
	margin-top: 6%;
	font-size: 70px;
}

.home-page img {
	max-height: 100px;
}

* {
  font-family: 'Lato', sans-serif;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.modal.fade {
   -webkit-transition: opacity 0.10s linear;
      -moz-transition: opacity 0.10s linear;
       -ms-transition: opacity 0.10s linear;
        -o-transition: opacity 0.10s linear;
           transition: opacity 0.10s linear;
 }

legend {
	margin-top: 40px;
}

.table>tbody {
	max-height: 800px;
	overflow: scroll;
}

.livecart{
  margin: 0 auto;
  float: none;
}


h4.current-page {
	margin-top: 30px;
	margin-bottom: 20px;
}


#checkoutButton {
	padding: 0 30px 0 30px;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border-radius: 0;
	font-size: 25px;
}

.checkout-total-price {
	display: inline-flex;
	font-size: 35px;
	letter-spacing: 3px;
}

#checkoutPaymentAmount {
    font-size: 23px;
    font-weight: bold;
  }
  #checkoutModal .form-group {
    float: none;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 50%;
  }
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.top-header{
	background-color: #333;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.top-header h1{
	float: left;
	width: 30%;
	text-decoration: none;
	padding-left: 20px;
}
.top-header h1 a:hover{
	text-decoration: none;
}
.top-header ul{
	float: left;
	width: 70%;
}
ul.nav-menu li {
	display: inline;
	float: left;
	padding: 25px 10px;
}
ul.nav-menu li:hover {
	display: inline;
	float: left;
	padding: 25px 10px;
	background-color: chartreuse;
	color:#333
}

ul.nav-menu li a {
	list-style-type: none;
 	display: inline;
	 text-decoration: none;
}

ul.nav-menu li a.hover {
	font-style: italic;
	text-decoration: none;

}
ul.nav-menu li a.active {
	font-style: italic;
	text-decoration: none;

}

ul.nav-menu li a h3 {
	display: inline;
}

.expired-product-div{
	float: left;
	padding: 20px 0px;
	width: 100%
}

.expired-product-div div{
	float: left;
}

.quadrat {
	width: 50px;
	height: 50px;
   -webkit-animation: flash 1s infinite; /* Safari 4+ */
	-moz-animation:    flash 1s infinite; /* Fx 5+ */
	-o-animation:      flash 1s infinite; /* Opera 12+ */
	animation:         flash 1s infinite; /* IE 10+, Fx 29+ */
  }
  
  @-webkit-keyframes flash {
  0%, 49% {
	  background-color: rgb(117,209,63);
	  border: 3px solid #e50000;
  }
  50%, 100% {
	  background-color: #e50000;
	  border: 3px solid rgb(117,209,63);
  }
  }